# Fichiers système macOS
.DS_Store

# Dossiers de données
data/
MedImg_one_GAN/
MedImg_4_GANs/
Results_dino_finetune_Multi_GAN_full/
Results_dino_finetune_Multi_GAN_split/
Domain_0/
DOmain_3/
All_domains/
*.h5
*.csv
CailleTest.ipynb
getting_started.ipynb

# Fichiers de notebooks temporaires
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environnements virtuels
.env/
.venv/
env/
venv/

# Checkpoints / modèles
checkpoints/
*.pth
*.pt

# Fichiers logs / outputs
*.log
*.out
